* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

button {
  /* font-size: 50px; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #FF4136, #85144b);
  padding: 50px;
  background-repeat: no-repeat;
}

h1 {
  color: white; 
  text-align: center;
}

h3 {
  font-size: 16px;
  margin-left: 25px;
  letter-spacing: 1px;
  color: black;
}

h4 {
  color: grey;
  font-size: 16px;
  margin-left: 25px;
  letter-spacing: 1px;
}

.container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 2px 2px 2px 4px rgba(0,0,0,0.6);
}

.container .avatar {
  display: flex; 
  align-items: center;
}

.container .button {
  margin-left: auto; 
}

.container .button .btn {
  background-color: white;
  border-radius: 10%;
  border: 1px solid black;
  padding: 5px;
  color: black;
  cursor: pointer;
  transition: .3s ease-out;
  font-size: 15px;
}

.container .button .btn:hover  {
  background-color: red;
  color: white;
  transition: .3s ease-in;
}

.btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 10%;
  padding: 5px;
  color: black;
  cursor: pointer;
  transition: .3s ease-out;
  margin-left:auto;
  margin-right:0px;
  margin-right: 25px;
  /* margin:auto;
  display:block; 
  float:left; */
  font-size: 15px;
  
}

.btn:hover  {
  background-color: #0053ba;
  color: white;
  transition: .3s ease-in;
}

